---
---

@import "{{ site.theme }}";

* {
  box-sizing: border-box;
}

// Need to edit the nav bar colour, otherwise there's a blue background placed over the nav
#header nav {
  background: unset;
  text-align: center; // centers the buttons on the page
}


#header nav li a {
  background: #1B4079;
  border: 1px solid black;

  &:hover {

    background: linear-gradient(#005C7A, #008AB8);
    background-color: #005C7A;
    border: 1px solid black;

  }
}

/* Move title texts to the left */
section #title h1 {
  text-align: left;
}

section #title p {
  text-align: left;
}

//* allows flexbox for the title image and text */
#title-container {
  display: flex;
}

#title-img {
  min-width: 100px;
}


.profile {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.profile_container {
  text-align: center;
}
