---
---

@import "{{ site.theme }}";

// Need to edit the nav bar colour, otherwise there's a blue background placed over the nav
#header nav {
  background: unset;
  text-align: center; // centers the buttons on the page
}

#header nav li a {
  background: linear-gradient(#007EA7, #00A7E1);
  border: 1px solid black;
  background-color: #007EA7;

  &:hover {

    background: linear-gradient(#005C7A, #008AB8);
    background-color: #005C7A;
    border: 1px solid black;

  }
}
