---
---

@import "{{ site.theme }}";

* {
  box-sizing: border-box;
}

// Need to edit the nav bar colour, otherwise there's a blue background placed over the nav
#header nav {
  background: unset;
  text-align: center; // centers the buttons on the page
}


#header nav li a {
  background: #1B4079;
  border: 1px solid black;

  &:hover {

    background: linear-gradient(#005C7A, #008AB8);
    background-color: #005C7A;
    border: 1px solid black;

  }
}
